
	  
	  
	  body { width:100%; margin-left:auto; margin-right:auto;font-size:12px; margin-top:0px; margin-bottom:0px;
}


/*Default页面*/
.Default_top{height:75px; background-image:url('../Image/bg.png');background-position:0px 0px;width:100%; margin-top:0px; color:White; line-height:75px; }
.Default_bottom{height:75px; background-image:url('/Image/logo.png'); background-position:0px -135px;width:100%; line-height:75px; text-align:center;}

/*超链接样式*/
a{ color:#4D784D;}
a:link{ color:#4D784D;}/*普通*/
a:visited{ color:#4D784D;}/*已访问的*/
a:hover{ color:#FF7700;}/*鼠标接触的*/
a:active{ color:#FF7700;}/*积活的*/
.c13061201
{
font-size :9pt;
color :#595d5a;
}
.c13061202
{
font-size :9pt;
color :#595d5a;
}
body,td,th {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	/*font-size: 14px;*/
	
}


.c1312050201
{
	border-style: groove; border-width: thin;
	height :20px;
	width:125px;
	line-height :20px;
}
.c1312050202
{
	color:#595d5a;
 margin-top :10px;
	 
	  margin-left :43.4%;
	 margin-top :10px;
}
.c14112101
{
	float :left ; width:100%; 
	
}
.c14112102
{
 float :left ;  width:8%; height :7%;  margin-top :1%; margin-left :3%;
	
}
.c14112103
{
	float :left ; width:27%; height :7%
	
}